version: '3.9'

services:

  episync-dd:
    build:
      context: .
      dockerfile: services/dictionary/Dockerfile
    hostname: episync-dd
    image: nedss/episync-dd:latest
    container_name: episync-dd
    ports:
      - 8014:8014

  episync-test:
    build:
      context: .
      dockerfile: services/test/Dockerfile
    image: nedss/episync-test:latest
    container_name: episync-test

  episync-publish:
    build:
      context: .
      dockerfile: services/publish/Dockerfile
    hostname: episync-publish
    image: nedss/episync-publish:latest
    container_name: episync-publish
    environment:
      - AWS_SECRET_ACCESS_KEY = ${AWS_SECRET_ACCESS_KEY}
      - AWS_ACCESS_KEY = ${AWS_ACCESS_KEY}
      - AWS_REGION = ${AWS_REGION}
      - S3_HOST = episync-mvps-s3
    volumes:
      - ./cli/episync.db:/opt/episync/episync.db
    ports:
      - 8088:8088

  mvps-s3:
    image: adobe/s3mock
    hostname: episync-mvps-s3
    container_name: episync-mvps-s3
    ports:
     - 9090:9090
    environment:
      - initialBuckets=mvps-bucket

  episync-db:
    container_name: episync-db
    image: postgres:latest
    hostname: episync-db
    #restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: episync
      POSTGRES_DB: episync
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - "pgdata:/var/lib/postgresql/data"
      - ./conf/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 6

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@domain.com
      - PGADMIN_DEFAULT_PASSWORD=SuperSecret
    ports:
      - "8008:80"

volumes:
  pgdata:
